body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
}

::-webkit-scrollbar {
  width: 7px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(160, 160, 160);
  border-radius: 20px;
}

* {
  box-sizing: border-box;
}
